<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <ul>
  <% trips.forEach(function(trips) { %>
    <div>
    <a href="<%= `itinerary/${trips.id}`%>"><%= `${trips.tripname}:`%></a>
      <%= trips.description%>
        <div class="row">
          <form action="<%= `/trips/${trips.id}/?_method=DELETE` %>" method="POST">
              <button>X</button>
          </form>
        </div>
        <a  class="waves-effect waves-light btn secondary-content" href= " <%= `trips/${trips.id}/edit`%>  ">edit</a>
    </li>
    </div>
  <% }) %>
  </ul>
  <a class="waves-effect waves-light btn secondary-content" id="createBtn" href="trips/new">Create a new trip</a>
    <% include ../partials/footer %>
  </body>
</html>
